{% extends 'socialNetwork/base.html.twig' %}
{% block body %}

    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        {% include('socialNetwork/inc/timeline-footballer.html.twig') %}
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3">
              
              <!--Edit Profile Menu-->
              {% include('socialNetwork/inc/edit-menu-profil.html.twig') %}
            </div>
            <div class="col-md-7">

              <!-- Edit Interests
              ================================================= -->
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-ios-heart-outline"></i>Ma carrière</h4>
                  <div class="line"></div>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                  <div class="line"></div>
                </div>
                <div class="edit-block">
                  <div class="line"></div>
                  <div class="row"></div>
                </div>
              </div>
            </div>
            <div class="col-md-2 static">

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
