{% extends 'socialNetwork/base.html.twig' %}
{% block body %}

    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        {% include('socialNetwork/inc/timeline-footballer.html.twig') %}
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3">
              
              <!--Edit Profile Menu-->
              {% include('socialNetwork/inc/edit-menu-profil.html.twig') %}
            </div>
            <div class="col-md-7">

              <!-- Changement de mot de passe
              ================================================= -->
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-ios-locked-outline"></i>Changement de mot de passe</h4>
                  <div class="line"></div>
                  {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                      {{ message }}
                    </div>
                  {% endfor %}
                  {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
                <div class="edit-block">
                  <form id="education" action="{{ path('footballer_editPassword') }}" class="form-inline" method="post">
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="my-mot-de-passe">Ancien mot de passe</label>
                        <input id="my-mot-de-passe" class="form-control input-group-lg" type="password" name="old-password" title="Enter mot de passe" placeholder="Ancien mot de passe"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label>Nouveau mot de passe</label>
                        <input class="form-control input-group-lg" type="password" name="new-password" title="Entrer votre nouveau mot de passe" placeholder="Nouveau mot de passe"/>
                      </div>
                      <div class="form-group col-xs-6">
                        <label>Confirmez votre nouveau mot de passe</label>
                        <input class="form-control input-group-lg" type="password" name="confirm-new-password" title="Confirmez votre mot de passe" placeholder="Confirmez votre nouveau mot de passe"/>
                      </div>
                    </div>
                    <button name="button-password" class="btn btn-primary">Modifier le mot de passe</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-2 static">

            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
