<ul class="edit-menu">
    <li><a class="personal-information" href="{{ path('footballer_edit_profil') }}"><i class="fa fa-user"></i> Modifier mes informations personnelles</a></li>
{#    <li><i class="icon ion-ios-briefcase-outline"></i><a href="edit-profile-work-edu.html">Education and Work</a></li>#}
    <li><a class="profil-footballer" href="{{ path('footballer_editFootballerProfil')}}"><i class="fa fa-futbol-o"></i> Modifier mon profil de footballeur</a></li>
    <li><a class="career-footballer" href="{{ path('footballer_editCareer')}}"><i class="fa fa-address-card"></i> Modifier ma carrière</a></li>
{#    <li><i class="icon ion-ios-settings"></i><a href="edit-profile-settings.html">Account Settings</a></li>#}
{#    <li><a href="{{ path('footballer_editPassword') }}">Changement de mot de passe</a></li>#}
</ul>
