<ul class="edit-menu">
    <li class="active"><i class="icon ion-ios-information-outline"></i><a href="{{ path('footballer_editProfil') }}">Basic Information</a></li>
{#    <li><i class="icon ion-ios-briefcase-outline"></i><a href="edit-profile-work-edu.html">Education and Work</a></li>#}
    <li><i class="icon ion-ios-heart-outline"></i><a href="{{ path('footballer_editInterests')}}">My Interests</a></li>
{#    <li><i class="icon ion-ios-settings"></i><a href="edit-profile-settings.html">Account Settings</a></li>#}
    <li><i class="icon ion-ios-locked-outline"></i><a href="{{ path('footballer_editPassword') }}">Change Password</a></li>
</ul>