<div class="timeline-cover" style="background: url('https://wallpapercave.com/wp/wp2338297.jpg') no-repeat;background-position: center;background-size: cover;">

    <!--Timeline Menu for Large Screens-->
    <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-info">
                    <img src="https://staticg.sportskeeda.com/wp-content/uploads/2016/06/2016-06-22t044321z_1_lynxnpec5l0ag_rtroptp_3_soccer-500.jpg" alt="" class="img-responsive profile-photo" />
                    {% if app.user.user is not null %}
                    <h3>{{ app.user.user.name }} {{ app.user.user.firstName }}</h3>
                    {% endif %}
                    <p class="text-muted">Footballeur</p>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="list-inline profile-menu">
                    <li><a href="timeline.html">Chatroom</a></li>
                    <li><a href="timeline.html">Mes photos</a></li>
                    <li><a href="timeline-about.html" class="active">Mes vidéos</a></li>
                    <li><a href="timeline-friends.html">Mes amis</a></li>
                </ul>
                <ul class="follow-me list-inline">
                    <li>3 amis</li>
                    <li><button class="btn-primary">Ajouter un ami</button></li>
                </ul>
            </div>
        </div>
    </div><!--Timeline Menu for Large Screens End-->

    <!--Timeline Menu for Small Screens-->
    <div class="navbar-mobile hidden-lg hidden-md">
        <div class="profile-info">
            <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
            <h4>Sarah Cruiz</h4>
            <p class="text-muted">Footballeur</p>
        </div>
        <div class="mobile-menu">
            <ul class="list-inline">
                <li><a href="timeline.html">Chatroom</a></li>
                <li><a href="timeline.html">Mes photos</a></li>
                <li><a href="timeline-about.html" class="active">Mes vidéos</a></li>
                <li><a href="timeline-friends.html">Mes amis</a></li>
            </ul>
            <button class="btn-primary">Ajouter un ami</button>
        </div>
    </div><!--Timeline Menu for Small Screens End-->

</div>