<ul class="edit-menu">
    <li><a href="{{ path('footballer_view_profil',{'id':footballer.id}) }}">Informations personnelles</a></li>
    <li><a href="{{ path('footballer_view_footballer_profil',{'id':footballer.id}) }}">Profil de footballeur</a></li>
    <li><a href="{{ path('footballer_view_career',{'id':footballer.id}) }}">Ma carrière</a></li>
</ul>
