<footer>
    <!--? Footer Start-->
    <div class="footer-area section-bg" data-background="{{ asset('img/gallery/section_bg03.png') }}">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- Footer Menu -->
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Skillfoot</h4>
                                <ul>
                                    <li><a href="#">Qui sommes-nous ?</a></li>
                                    <li><a href="#">Mentions légales</a></li>
                                    <li><a href="#">CGV</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Lien utiles</h4>
                                <ul>
                                    <li><a href="{{ path('signup', {who:'agent'}) }}">S'inscrire en tant qu'agent</a></li>
                                    <li><a href="{{ path('signup', {who:'footballer'}) }}">S'inscrire en tant que footballeur</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="{{ asset('img/logo/logo.png') }}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">Skillfoot est né de la volonté de proposer une solution utile, efficace et pensée pour tout les acteurs du foot.</p>
                                </div>
                            </div>
                            <!-- Footer Social -->
                            <div class="footer-social ">
                                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram" target="_blank"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">
                            <p>
                                Skillfoot SAS &copy;<script>document.write(new Date().getFullYear());</script> tout droits réservés.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
